.footer {
    background-color: #003369;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    color: #fff;
}
.footer-links-right{
   float: right;
}