.navbar {
    background-color: #003369;
    color: #fff;
    display: flex;
    position: fixed;
    width: 100%;
}
.logo {
    padding-top: 15px;
    font-weight: bold;
  }
a {
    text-align: center;
    padding: 14px 16px;
    list-style: none;
    color: #fff;
    text-decoration: none;    
}
button{
    font-size: 15px;
    margin: 10px 10px;
    float: right;
}
#login{
    // background-color: ;
    color: #fff;
    border-color: #fff;
    border-radius: 1px;
}
#signup{
    background-color: #56B7E9;
    color: #fff;
    border-color: none;
}